<div class="cl_div_background">

  <div class="cl_margin_top" fxLayout="row" fxLayoutAlign="start end">


    <div fxLayout="row" class="cl_div_w_h">
      <div fxLayoutAlign="start center" style="width: 40%;" class="cl_add_course_css">
        <input placeholder="Search here.." (input)="search($event)" style="background: white;width: 100%;height: 30px;"/>
        <mat-icon>search</mat-icon>
      </div>
    </div>

    <div fxLayout="row" class="cl_div_w_h" fxLayoutAlign="end end">

      <div fxLayout="row" fxLayoutAlign="end end" (click)="add()" class="cl_add_course_css">
        <mat-icon>add_circle_outline</mat-icon>
        <mat-label class="cl_label_css">ADD</mat-label>
      </div>


      <div fxLayout="row" fxLayoutAlign="end end" class="cl_filter_css">
        <img src="./assets/filter_list-24px.svg" />
        <mat-label class="cl_label_css">FILTER</mat-label>
      </div>

    </div>
  </div>
  <mat-divider class="cl_margin_top2"></mat-divider>

  <div class="cl_margin_top2">

    <table>
      <tr>
        <th *ngFor="let col of displayedColumns">{{col.name}}</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let cust of dataSource | paginate: { itemsPerPage: 10, currentPage: currentPage,totalItems: itemsCount };let i = index">

        <td *ngFor="let col of displayedColumns">{{cust[col.key]}}</td>

        <td>
          <span>
            <button *ngIf="showEdit == 1" mat-raised-button class="EditButton" (click)="edit(cust)">Edit</button>
            &nbsp;
            <button *ngIf="showView == 1" mat-raised-button class="ViewButton" (click)="view(cust)">View</button>

            &nbsp;
            <button *ngIf="showDelete == 1" mat-raised-button class="ViewButton" (click)="delete(cust)">Delete</button>


          </span>
        </td>
      </tr>
    </table>

  </div>

  <div class="paginator-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" class="record-text">
        <!-- {{recordCount}} -->
    </div>
  
    <div fxLayout="row" class="paginator-content" fxLayoutAlign="center center">
        <div class="paginator-element" fxLayout="row" [ngClass]="{'selected-page': currentPage == 0}"
            (click)="paginate(1)" fxLayoutAlign="center center">
            <!-- <i class="material-icons icon-font primary">
                arrow_back_ios
            </i> -->
            <img *ngIf="currentPage == 0" src="./assets/backword.png" width="30px" height="35px">
            <img title="Go to first" *ngIf="currentPage != 0" src="./assets/Abackword.png" width="30px" height="35px">
  
  
        </div>
        <pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
            [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="currentPage = $event;paginate(currentPage)">
        </pagination-controls>
  
        <div class="paginator-element" [ngClass]="{'selected-page': currentPage == lastPage - 1}"
            (click)="paginate(lastPage)" fxLayout="row" fxLayoutAlign="center center">
            <!-- <i class="material-icons icon-font primary">
                arrow_forward_ios
            </i> -->
            <img *ngIf="currentPage == lastPage - 1 " src="./assets/forword.png" width="30px" height="35px">
            <img title="Go to last" *ngIf="currentPage != lastPage - 1" src="./assets/Aforword.png" width="30px" height="35px">
  
        </div>
  
    </div>
  </div>
</div>