<div class="container" fxLayout="column" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
        <div  *ngFor="let item of allData" fxFlex="100"  >
        <div fxFlex="100" class="value-card" fxLayoutALign="center center" (click)="redirectToDetails(item)"> 

            <mat-card class="mat-card" style="cursor: pointer;">

                <div class="content_div" fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxLayoutAlign="start center">
                        <label style="font-size:35px" >
                           {{item.count}}
                        </label>
                    </div>
                    <div  fxFlex="30" fxLayoutAlign="end center">
                      <img src="{{item.image}}" style="width:60px; height:60px"/>
                    </div>
                  

                </div>
                <div class="content_div" fxLayout="column" style="margin-top:30px">
                        <div style="border: 1px solid #82d9ff; width:100px"></div>
                        <h2 style="margin-top:18px">
                            {{item.title}}
                        </h2>
                 
                </div>
            </mat-card>

        </div>
        </div>

        <!-- <div fxFlex="25" class="value-card">

            <mat-card class="mat-card">
                <div class="content_div" fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxLayoutAlign="start center">
                        <label style="font-size:35px" >
                            30
                        </label>
                    </div>
                    <div  fxFlex="30" fxLayoutAlign="end center">
                      <img src="../../../assets/agent.png" style="width:60px; height:60px"/>
                    </div>
                </div>
                <div class="content_div" fxLayout="column" style="margin-top:30px">
                    <div style="border: 1px solid #6d83b7; width:100px"></div>
                    <h2 style="margin-top:18px">
                        User
                    </h2>
             
            </div>
            </mat-card>

        </div>


        <div fxFlex="25" class="value-card">

            <mat-card  class="mat-card">

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxLayoutAlign="start center">
                        <label style="font-size:35px" >
                            20
                        </label>
                    </div>
                    <div  fxFlex="30" fxLayoutAlign="end center">
                      <img src="../../../assets/banner.jpg" style="width:60px; height:60px"/>
                    </div>
                </div>
                <div fxLayout="column" style="margin-top:30px">
                    <div style="border: 1px solid #a66626; width:100px"></div>
                    <h2 style="margin-top:18px">
                        Banner
                    </h2>
             
            </div>
             
            </mat-card>

        </div>


        <div fxFlex="25" class="value-card">

            <mat-card  class="mat-card">

                <div class="content_div" fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxLayoutAlign="start center">
                        <label style="font-size:35px" >
                            40
                        </label>
                    </div>
                    <div  fxFlex="30" fxLayoutAlign="end center">
                      <img src="../../../assets/paymentgateway.jpg" style="width:60px; height:60px"/>
                    </div>
                </div>
                <div class="content_div" fxLayout="column"  style="margin-top:30px">
                    <div style="border: 1px solid #6d83b7; width:100px"></div>
                    <h2 style="margin-top:18px">
                        Payment Gateway
                    </h2>
             
            </div>
            </mat-card>


        </div> -->

     

      

    <!-- </div> -->

    <!-- <div class="container-row" fxFlex="100" fxLayout="row">
    </div> -->


</div>

