<!-- <div style="width: 100%;height:95%">
  <app-table-view [dataTable]="dataArray" [itemsCount]="totalCount" [showFilter]="1" [showAction]="0" [showEdit]="0" (viewClicked)="view($event)" (filterClicked)="filter($event)"  [currentPage]="currentPage" [columns]="columnArray" [showAdd]="1" (inputChange)="search($event)" (pageClicked)="paginate($event)" [lastPage]="lastPage"  (addClicked)="add()" (editClicked)="edit($event)"></app-table-view>
</div> -->

<div style="width:100%;height:90vh; background-color: white;border-radius:10px;" >
<div style="width:100%;height:2%"></div>

  <div fxLayout="row" fxLayoutAlign="start end" style="padding:15px">


    <div fxLayout="row" class="cl_div_w_h">
      <div fxLayoutAlign="start center" style="width: 40%;" class="cl_add_course_css1">
        <input placeholder="Search here.." (input)="search($event)" style="background: white;width: 100%;height: 30px;"/>
        <mat-icon>search</mat-icon>
      </div>

    </div>

    <div fxLayout="row" class="cl_div_w_h" fxLayoutAlign="end end" >

      
      <div fxLayout="row" fxLayoutAlign="end end"  [matMenuTriggerFor]="menu" class="cl_filter_css" >
        <img src="./assets/filter_list-24px.svg" />
        <mat-label class="cl_label_css">Filter</mat-label>
      </div>

      
      <mat-menu #menu="matMenu" >
    
        <mat-list>
          <mat-list-item style="cursor: pointer;" *ngFor="let item of categoryArray" (click)="filter(item.id)" [ngClass]="item.id == categoryId ? 'selected-category-back' : 'category-back' ">
            <img matListAvatar src="{{item.image}}" alt="...">
            <h3 matLine> {{item.name}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-menu>
      
      
      
      <!-- <div fxLayout="row" fxLayoutAlign="end end" style="margin-left: 15px;" (click)="add()" class="cl_add_course_css" >
        <mat-icon>add_circle_outline</mat-icon>
        <mat-label class="cl_label_css">ADD</mat-label>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="end end"  [matMenuTriggerFor]="menu1" class="cl_filter_css" >
        <img src="./assets/sort.png" />
        <mat-label class="cl_label_css">Sort By Price</mat-label>
      </div>

      
      <mat-menu #menu1="matMenu" >
    
        <mat-list>
          <mat-list-item style="cursor: pointer;" *ngFor="let item of sortArray" (click)="sort(item)" >
            <!-- <img matListAvatar src="{{item.image}}" alt="..."> -->
            <h3 matLine> {{item.name}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-menu>
     
     

    </div>
   
  </div>
  <mat-divider class="cl_margin_top2"></mat-divider>

  <div style="overflow-y: auto; overflow-x: hidden; width:100%;height:70vh">
  
  <div  *ngFor="let item of dataArray" >
  <div fxLayout="row" class="column main_div">
    <div fxLayoutAlign="center center" style="width:100%; height:90%;">
      <div  fxLayout="column" fxLayoutAlign="start start" class="cl_card_css advertisementcard">
        <img src={{item.images[0]}} fxLayoutAlign="center center" class="cl_image_css" (click)="showAdvertisementDetail(image, item.id)"/>
       <div fxLayout="row" fxFlex="100" style="padding:18px; width:100%">
        <div fxLayout="column" fxFlex="100" style="width:100%; height:auto">
          <label *ngIf="item.adPriceType==null || item.adPriceType ==0 " class="cl_price_css" fxLayoutAlign="start start">₹ {{item.price}}</label>

          <label *ngIf="item.adPriceType!=null && item.adPriceType ==1 " class="cl_price_css" fxLayoutAlign="start start">$ {{item.price}}</label>

          <label fxLayoutAlign="start start" class="cl_title_css check_width">
            {{item.title}}
          </label>
          <div  fxLayout="row" >
          <label fxLayoutAlign="start start" style="margin-right:10px ;"  (click)="viewDetail(item)" class="cl_view_detail_css"><u>View Detail</u></label>
          <label fxLayoutAlign="end end" style="margin-left:10px ;"  (click)="sendNotif(item)" class="cl_view_detail_css"><u>Send Notif</u></label>
          </div>
          <div  fxLayout="row" fxLayoutAlign="start end">
          <mat-slide-toggle  style="margin:10px 10px 0px 0px;" *ngIf="item.isActive==0" [checked]="false" (change)="disableComponent(item)"></mat-slide-toggle>
          <mat-slide-toggle style="margin:10px 0px 0px;" *ngIf="item.isActive!=0" [checked]="true" (change)="disableComponent(item)"></mat-slide-toggle>
         </div>
        </div>

        
        <!-- <div fxFlex="5" fxLayoutAlign="end start">
          <mat-icon style="color:gray; font-size:22px">edit</mat-icon>
        </div> -->
    
       </div>
       
       <!-- <div  fxLayout="row" fxLayoutAlign="center end"  >
       <div> -->
        <div  fxLayout="column" fxLayoutAlign="end end" >
        
      </div>
       <!-- </div> -->
      <!-- </div> -->
      </div>
     
    </div>
   
  </div>
  </div>

  </div>
</div>