<!-- <div style="width: 100%;height:95%">
  <app-table-view [dataTable]="dataArray" [itemsCount]="totalCount" [showView]="0"  (inputChange)="search($event)"  (viewClicked)="view($event)"  [currentPage]="currentPage" [columns]="columnArray" [showFilter]="0" [showAction]="0" [showAdd]="1" (pageClicked)="paginate($event)" [lastPage]="lastPage"  (addClicked)="add()" (deleteClicked)="delete($event)"></app-table-view>
</div> -->


<div class="cl_div_background">

  <div class="cl_margin_top" fxLayout="row" fxLayoutAlign="start end">


    <div fxLayout="row" class="cl_div_w_h">
      <div fxLayoutAlign="start center" style="width: 40%;" class="cl_add_course_css">
        <input placeholder="Search here.." (input)="search($event)" style="background: white;width: 100%;height: 30px;"/>
        <mat-icon>search</mat-icon>
      </div>

    </div>

    <div fxLayout="row" class="cl_div_w_h" fxLayoutAlign="end end" >

      <div fxLayout="row" fxLayoutAlign="end end" (click)="add()" class="cl_add_course_css">
        <mat-icon>add_circle_outline</mat-icon>
        <mat-label class="cl_label_css">ADD</mat-label>
      </div>
    

      <div fxLayout="row" fxLayoutAlign="end end" class="cl_filter_css" [matMenuTriggerFor]="menu" *ngIf="showFilter == 1">
        <img src="./assets/filter_list-24px.svg" />
        <mat-label class="cl_label_css">FILTER</mat-label>
      </div>
      <!-- <mat-menu #menu="matMenu" >
       

        <mat-list>
          <mat-list-item *ngFor="let item of categoryArray" (click)="filter(item.id)" [ngClass]="item.id == categoryId ? 'selected-category-back' : 'category-back' ">
            <img matListAvatar src="{{item.image}}" alt="...">
            <h3 matLine> {{item.name}} </h3>
           
          </mat-list-item>
        </mat-list>
      
       
      </mat-menu> -->

    </div>
  </div>
  <mat-divider class="cl_margin_top2"></mat-divider>

  <div class="cl_margin_top2">

    <table>
      <tr >
        <th *ngFor="let col of columnArray">{{col.name}}</th>
        <th>Action</th>

      </tr>
      <tr  *ngFor="let cust of dataArray ;let i = index" >
        <td *ngFor="let col of columnArray" class="row_padding">
      
        
          <label *ngIf="col.name != 'Plan Type' ">{{cust[col.key]}}</label>
          <div  *ngIf="col.name == 'Plan Type' ">
            <mat-chip-list>
            <mat-chip *ngIf="cust[col.key] == 0 " style="background-color: rgb(97, 95, 95);" selected>Advertisement</mat-chip>
            <mat-chip *ngIf="cust[col.key] == 1 " style="background-color: rgb(97, 95, 95); color: white;" selected>Banner</mat-chip>
          </mat-chip-list>
            <!-- <label *ngIf="cust[col.key] == 1 ">Advertisement</label>
            <label *ngIf="cust[col.key] == 0 ">Banner</label> -->
          </div>
        

        </td>
        <td>
          <span>
            <mat-icon  mat-raised-button class="EditButton" (click)="edit(cust)">edit</mat-icon>
            <!-- <button *ngIf="showEdit == 1" mat-raised-button class="EditButton" (click)="edit(cust)">Edit</button> -->
          
          </span>
        </td>
      </tr>
    </table>

  </div>

</div>






<!-- <div class="cl_background">
  <div fxLayout="row">
    <div class="container" style="width:20%">
      <div class="column">
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable">
                  <h3 class="bannertitle">Banner</h3>
                
                  <h3 class="title" style="margin-top:15%">First Week</h3>
                  <div class="price-value">
                      <span class="amount">${{bannerFirstWeekPrice}}
                      </span>
                  </div>
                  <h3 class="title">Further Weeks</h3>
  
                  <div class="price-value">
                    <span class="amount">${{bannerNextWeekPrice}}
                    </span>
                </div>
                <label  class="pricingTable-signup" (click)="upDateBannerPrice()" style="cursor:pointer"><u>Update Now</u></label>
              </div>
          </div>
   
     
      </div>
  </div>

  <div class="container" style="width:20%; margin-left:20px">
    <div class="column">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <h3 class="title">Advertisement</h3>
            
                <h3 class="title" style="margin-top:15%">First Week</h3>
                <div class="price-value">
                    <span class="amount">${{addFirstWeekPrice}}
                    </span>
                </div>
                <h3 class="title">Further Weeks</h3>

                <div class="price-value">
                  <span class="amount">${{addNextWeekPrice}}
                  </span>
              </div>
              <label  class="pricingTable-signup" (click)="upDateAdvertisementPrice()"  style="cursor:pointer"><u>Update Now</u></label>
            </div>
        </div>
 
   
    </div>
</div>
  </div>
 
    </div> -->
