<div class="cl_background">


  <div fxLayout="row" style="margin-top:20px">


<div>

  <mat-card style="width:350px; height:auto; border-radius:10px; padding-bottom:30px">
    <div fxFlex="100" fxLayout="column" style="width:100%;border-radius:10px" fxLayoutAlign="center center">
      <div style="height:60px;width:100%; font-size:20px;border-radius:10px; color:#2aacb3" fxLayoutAlign="center center">
      <label style="font-family:  'Times New Roman', Times, serif;">Banner</label>
      </div>
     
   
      <div fxLayout="row" style="width:100%;font-size:30px; margin-top:15px;color:#2aacb3" fxLayoutAlign="center center">
       <label>₹</label>
       <label>1000</label>
      </div>
  

      <div fxLayout="row" style="width:100%; margin-top:30px" fxLayoutAlign="center center">
        <!-- <label class="cl_update" >Update Price</label> -->
        <button  mat-raised-button  style="padding:5px;width:90%;background-color: #2aacb3;color:white">UPDATE PRICE</button>

        </div>
    </div>
   
  </mat-card>
</div>
<div style="margin-left:20px">

  <mat-card style="width:350px; height:auto; border-radius:10px; padding-bottom:30px">
    <div fxFlex="100" fxLayout="column" style="width:100%;border-radius:10px" fxLayoutAlign="center center">
      <div style="height:60px;width:100%; font-size:30px;border-radius:10px; color:#2aacb3" fxLayoutAlign="center center">
      <label style="font-family: 'Times New Roman', Times, serif;">Advertisement</label>
      </div>
     
   
      <div fxLayout="row" style="width:100%;font-size:25px; margin-top:20px;color:#2aacb3" fxLayoutAlign="center center">
       <label>₹</label>
       <label>2000</label>
      </div>
  

      <div fxLayout="row" style="width:100%; margin-top:30px" fxLayoutAlign="center center">
        <!-- <label class="cl_update" >Update Price</label> -->
        <button  mat-raised-button  style="padding:5px;width:90%;background-color: #2aacb3;color:white">UPDATE PRICE</button>

        </div>
    </div>
   
  </mat-card>
</div>
  </div>
  </div>
