
<form #userForm="ngForm" style="width:100%;margin-top:10px">
 

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field style="width:100%">
      <input matInput class="form-control " name="name" [(ngModel)]="categoryName"
        #name="ngModel"  placeholder="Category Name" />
    
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center"  onclick="document.getElementById('image_upload1').click()" style="height:170px;width:100%; border : 1px solid #ced3da; margin-top:40px; border-radius:15px">
      
    <mat-icon fxLayoutAlign="center center" *ngIf="firstImage == '' " style="font-size:60px; margin-top:40px;color:rgb(196, 184, 184)">camera_alt
    </mat-icon>
    <img *ngIf="firstImage != '' " src="{{firstImage}}"
    style="width:100%;border-radius:15px; height:100%;" />
      <input style="display: none;" id="image_upload1" type="file" (change)="detectEventGallery($event)">

  <div *ngIf="firstImage == '' " style="margin-top:12px;color: black;width:100%;margin-bottom:15px"
    fxLayoutAlign="center">
    <label type="file" style="margin-top:15px">Upload Category Image</label>
  </div>
  </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px;margin-left:10%; margin-right:10%; width:80%">
    <button  mat-raised-button (click)="closeDialog()" style="margin-right:15px;font-size:13px">CANCEL</button>
    <button  mat-raised-button (click)="submit()" class="loginButton" style="font-size:13px" [disabled]="categoryName.invalid">SUBMIT</button>
 

  </div>


