<div style="width:100%; height:auto;margin:auto">
  <!-- <div style="width:100%;padding:10px">
    <div fxFlex="95">
      <label style="color:black; font-family: sans-serif; font-weight:normal;font-size:18px; ">Advertisement Detail</label>
    </div>
    <div fxFlex="5">
      <mat-icon (click)="closeDialog()" style="color:gray">close</mat-icon>
    </div>
   </div>
   <mat-divider style="width:100%;margin-top:15px"></mat-divider>
   -->

  <div fxLayout="column" class="cl_main_div">

    <img src="{{image}}" class="cl_image_css" />

    <div fxLayout="column" fxFlex="100" class="cl_text_css">
      <div fxLayout="row" fxFlex="100">
     <div fxFlex="30">
      <label *ngIf="type != 'Banner' && (adPriceType==null || adPriceType ==0)" class="cl_price_css" fxLayoutAlign="start start">₹ {{price}}</label>
      <label *ngIf="type != 'Banner' && (adPriceType!=null && adPriceType ==1)" class="cl_price_css" fxLayoutAlign="start start">$ {{price}}</label>
     </div>
     <div fxFlex="70">
      <label *ngIf="type != 'Banner'" class="cl_date_css" fxLayoutAlign="end end">{{sdod}} {{sdom | date:'MMM'}} - {{edod}} {{edom | date:'MMM'}} {{edoy}}</label>
    </div>

      </div>

      <div fxFlex="100" *ngIf="type == 'Banner'">
        <div fxFlex="50">
          <label  fxLayoutAlign="start start" class="cl_title_css">{{title}}</label>
        </div>
        <div fxFlex="50">
          <label  class="cl_date_css" fxLayoutAlign="end end">{{sdod}} {{sdom | date:'MMM'}} - {{edod}} {{edom | date:'MMM'}} {{edoy}}</label>
        </div>
      </div>

      <label *ngIf="type != 'Banner'" fxLayoutAlign="start start" class="cl_title_css">{{title}}</label>

      <label *ngIf="type == 'Banner'" fxLayoutAlign="start start" class="cl_title_css">Views: {{viewCount}}</label>

      <label fxLayoutAlign="start start" class="cl_description_label">{{description}} </label>


      <div fxFlex="100" *ngIf="type != 'Banner'">
        <div fxFlex="100">
          <label  *ngIf="allData.length == 0" fxLayoutAlign="center center" class="cl_title_css_new">No Payment Logs Available</label>
          <label  *ngIf="allData.length > 0" fxLayoutAlign="center center" class="cl_title_css_new">Payment Logs</label>
        </div>

      </div>
       
        <div  *ngFor="let item of allData"  fxLayout="column" >

          <!-- <div fxFlex="100"class="row_padding" > <label  fxLayoutAlign="start start" class="cl_title_css">{{item.modified | date}}</label></div> -->
      
          <!-- <div fxFlex="100" class="row_padding" >
            <div fxFlex="50">
              <label  fxLayoutAlign="start start" class="cl_title_css">{{item.created | date}}</label>
            </div>
            <div fxFlex="50">
              <label  class="cl_date_css_logs" fxLayoutAlign="end end">{{item.userName}}</label>
            </div>
          </div> -->


        <div fxFlex="100" class="row_padding" >
          <div fxFlex="50">
            <label  fxLayoutAlign="start start" class="cl_title_css">Transaction date : {{item.created | date}}</label>
          </div>
          <div fxFlex="50">
            <label  class="cl_title_css" fxLayoutAlign="end end">Payment by : {{item.userName}}</label>
          </div>
        </div>

        <div fxFlex="100" class="row_padding" >
          <div fxFlex="50">
            <label  fxLayoutAlign="start start" class="cl_title_css">Plan name : {{item.planIdAdvertiseName}}</label>
          </div>
          <div fxFlex="50">
            <label  class="cl_title_css" fxLayoutAlign="end end">Remaining days : {{item.adRemanningDays}}</label>
          </div>
        </div>
      
        
      
        <div fxFlex="100"  class="row_padding">
          <div fxFlex="50">
            <label *ngIf="item.isSuccess==0" fxLayoutAlign="start start" class="cl_title_css">Transaction Status : <span style="color: red;">Failed</span></label>
            <label  *ngIf="item.isSuccess==1" fxLayoutAlign="start start" class="cl_title_css">Transaction Status : <span style="color: green;">Successfull</span> </label>
          </div>
          <div fxFlex="50">
            <label  class="cl_title_css" fxLayoutAlign="end end"> Amount : $ {{item.amount}}</label>
          </div>
        </div>
      
        <mat-divider style="width:100%;margin-top:15px;margin-bottom: 15px;"></mat-divider>
      
        </div>

        
     


    </div>

    <div class="cl_clode_div">
      <mat-icon (click)="closeDialog()" class="cl_close_icon">close</mat-icon>
    </div>

  </div>

</div>